<div class="shop-index">
  <h2>{{i18n "discourse_shop.nav.shop"}}</h2>
  {{#if this.loading}}
    <p>Loading...</p>
  {{else}}
    <div class="shop-grid">
      {{#each this.products as |p|}}
        <div class="shop-item" {{on "click" (fn this.goProduct p.id)}}>
          {{#if p.image_urls.length}}
            <img src="{{p.image_urls.[0]}}" alt="{{p.name}}">
          {{/if}}
          <div class="shop-item-name">{{p.name}}</div>
          <div class="shop-item-price">{{format-number p.price_cents style="currency" currency=p.currency}}</div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
