<div class="shop-product">
  {{#if this.loading}}
    <p>Loading...</p>
  {{else}}
    <div class="product-hero">
      {{#if this.product.image_urls.length}}
        <img src="{{this.product.image_urls.[0]}}" alt="{{this.product.name}}">
      {{/if}}
      <div class="meta">
        <h2>{{this.product.name}}</h2>
        <div class="price">{{format-number this.product.price_cents style="currency" currency=this.product.currency}}</div>
      </div>
    </div>

    <div class="options">
      {{#each this.product.options_schema as |opt|}}
        <div class="opt">
          <label>{{opt.name}}</label>
          <select {{on "change" (fn this.setOption opt.name)}}>
            {{#each opt.values as |v|}}
              <option value="{{v}}">{{v}}</option>
            {{/each}}
          </select>
        </div>
      {{/each}}
    </div>

    <button class="btn btn-primary" {{on "click" this.toCheckout}}>下单</button>
  {{/if}}
</div>
